@model EnsignLib.Examples.SimpleCustomBacking.Models.FeatureControlPanelViewModel

@{
    ViewBag.Title = "Feature Control Panel";
}

<h2>Feature Control Panel</h2>

<h3>Homepage A/B Testing <em>(@Model.HomepageFeature.GlobalPercentage% enabled)</em></h3>

<div class="row">
    <div class="col-md-1">
        @using (Html.BeginForm("FeatureToggle", "Feature"))
        {
            <input type="hidden" name="name" value="HomepageAB" />

            <p>
                <button type="submit" class="btn btn-primary">
                    @if (Model.HomepageFeature.IsEnabled())
                    {
                        @:Turn Off
                    }
                    else
                    {
                        @:Turn On
                    }                    
                </button>
            </p>
        }
    </div>
    <div class="col-md-1">
        <p class="text-center fix-margin-top">
            <strong>OR</strong>
        </p>
    </div>
    <div class="col-md-10">
        @using (Html.BeginForm("HomeSetPercentage", "Feature"))
        {
            <p>
                <input id="percentage" name="percentage" type="text" />
                <button type="submit" class="btn btn-default">Enable for Percentage</button>
            </p>
        }
    </div>
</div>

<br />

<h3>Logged In New Hotness <em>(@Model.LoggedInFeature.GlobalPercentage% enabled)</em></h3>

<div class="row">
    <div class="col-md-1">
        @using (Html.BeginForm("FeatureToggle", "Feature"))
        {
            <input type="hidden" name="name" value="NewHotness" />

            <p>
                <button type="submit" class="btn btn-primary">
                    @if (Model.LoggedInFeature.IsEnabled())
                    {
                        @:Turn Off
                    }
                    else
                    {
                        @:Turn On
                    }                    
                </button>
            </p>
        }
    </div>
    <div class="col-md-1">
        <p class="text-center fix-margin-top">
            <strong>OR</strong>
        </p>
    </div>
    <div class="col-md-10">
        <h4 class="fix-margin-top">Manage Users</h4>
        
        @using (Html.BeginForm("ModifyGroup", "Feature"))
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Is User in Group?
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userId in Model.UserIds)
                    {
                        <tr>
                            <td>
                                @userId
                            </td>
                            @if (@Model.LoggedInFeature.Group("SuperGroup").IsUserInGroup(userId))
                            {
                                <td>
                                    Yes
                                </td>
                                <td class="text-right">
                                    <button type="submit" name="submit" class="btn btn-default btn-modify-group" value="remove-@userId">Remove from Group</button>
                                </td>
                            }
                            else
                            {
                                <td>
                                    No
                                </td>
                                <td class="text-right">
                                    <button type="submit" name="submit" class="btn btn-default btn-modify-group" value="add-@userId">Add to Group</button>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
